.header {
  background-color: white;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px;
  height: 40px;
  /* width: auto; */
}

.logo {
  width: 50px;
  /* Adjust size as needed */
  height: auto;
}

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  /* list-style: none; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav2 {
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

 .nav-links {
    margin-left: auto; /* Pushes the nav to the right */
 }

 .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }  
.nav-links li {
    display: inline;
    margin-left: 20px; /* Adjust spacing between links */
}


 .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }  

 /* .nav-links a:hover {
    color: #ff1493; /* Change color on hover
 } */